# import

In [43]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import pandas as pd

In [44]:
# 1. Load data:
df = pd.read_csv('movieReplicationSet.csv',skipinitialspace=True)

# 2. Let's get a handle on our movie titles:
columns = df.columns 
print(columns)

Index(['The Life of David Gale (2003)', 'Wing Commander (1999)',
       'Django Unchained (2012)', 'Alien (1979)',
       'Indiana Jones and the Last Crusade (1989)', 'Snatch (2000)',
       'Rambo: First Blood Part II', 'Fargo (1996)',
       'Let the Right One In (2008)', 'Black Swan (2010)',
       ...
       'When watching a movie I cheer or shout or talk or curse at the screen',
       'When watching a movie I feel like the things on the screen are happening to me',
       'As a movie unfolds I start to have problems keeping track of events that happened earlier',
       'The emotions on the screen "rub off" on me - for instance if something sad is happening I get sad or if something frightening is happening I get scared',
       'When watching a movie I get completely immersed in the alternative reality of the film',
       'Movies change my position on social economic or political issues',
       'When watching movies things get so intense that I have to stop watching',
       'Gender identity (1 = female; 2 = male; 3 = self-described)',
       'Are you an only child? (1: Yes; 0: No; -1: Did not respond)',
       'Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)'],
      dtype='object', length=477)

In [265]:
df

,The Life of David Gale (2003),Wing Commander (1999),Django Unchained (2012),Alien (1979),Indiana Jones and the Last Crusade (1989),Snatch (2000),Rambo: First Blood Part II,Fargo (1996),Let the Right One In (2008),Black Swan (2010),...,When watching a movie I cheer or shout or talk or curse at the screen,When watching a movie I feel like the things on the screen are happening to me,As a movie unfolds I start to have problems keeping track of events that happened earlier,"The emotions on the screen ""rub off"" on me - for instance if something sad is happening I get sad or if something frightening is happening I get scared",When watching a movie I get completely immersed in the alternative reality of the film,Movies change my position on social economic or political issues,When watching movies things get so intense that I have to stop watching,Gender identity (1 = female; 2 = male; 3 = self-described),Are you an only child? (1: Yes; 0: No; -1: Did not respond),Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)
0,NaN,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,1.0,6.0,2.0,5.0,5.0,5.0,1.0,1.0,0,1
1,NaN,NaN,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,1.0,1.0,6.0,5.0,3.0,2.0,1.0,0,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,4.0,3.0,5.0,5.0,4.0,4.0,1.0,1,0
3,NaN,NaN,2.0,NaN,3.0,NaN,NaN,NaN,NaN,4.0,...,3.0,1.0,1.0,4.0,5.0,3.0,1.0,1.0,0,1
4,NaN,NaN,3.5,NaN,0.5,NaN,0.5,1.0,NaN,0.0,...,2.0,3.0,2.0,5.0,6.0,4.0,4.0,1.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN,...,3.0,4.0,3.0,5.0,5.0,4.0,4.0,1.0,0,0
1093,3.0,4.0,NaN,NaN,4.0,4.0,2.5,NaN,3.5,3.5,...,5.0,3.0,5.0,5.0,5.0,6.0,5.0,1.0,0,0
1094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN,...,6.0,3.0,1.0,6.0,6.0,4.0,2.0,1.0,0,0
1095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,4.0,3.0,3.0,1.0,1.0,0,1
1096,NaN,NaN,4.0,NaN,2.5,NaN,NaN,3.0,NaN,3.5,...,3.0,4.0,1.0,4.0,4.0,4.0,1.0,1.0,0,1

# Data exploration

## mean and median

In [13]:
np_arr = df['The Life of David Gale (2003)'].to_numpy()
isFinite = np_arr[np.isfinite(np_arr)]
np.mean(isFinite)

2.151315789473684

In [15]:
np_arr[np.isnan(np_arr)] = 0
np.mean(np_arr) # doesn't make sense

0.14904284412032817

In [16]:
# median of ALL individual rating 
print(np.median(isFinite)) # this makes more sense
print(np.median(np_arr))

2.5
0.0

In [28]:
data = df.to_numpy()
dataFinite = data[np.isfinite(data)]
global_med = np.median(dataFinite)
global_med

3.0

In [33]:
print(data.shape)
print(dataFinite.shape)

(1097, 477)
(196764,)

In [27]:
med = np.median(isFinite)
print(sorted(isFinite))
print(len(isFinite))
print(np.where(isFinite >= med, 1, 0))
print(sum(np.where(isFinite >= med, 1, 0)))

[0.0, 0.0, 0.0, 0.0, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.5, 3.5, 3.5, 3.5, 3.5, 3.5, 3.5, 3.5, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0]
76
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1]
39

In [180]:
df.columns.to_list()[0]

'The Life of David Gale (2003)'

In [179]:
for t in df.columns.to_list():
    if 'Rambo' in t:
        print(t)
        break

Rambo: First Blood Part II

# Helper functions

In [61]:
def getMovieData(df, title):
    # return np
    np_arr = df.loc[:,df.columns.str.contains(title)].to_numpy()
    return np_arr.reshape((len(np_arr),))

In [148]:
def rowWiseElim(data1, data2):
    data1 = data1.to_numpy()
    data2 = data2.to_numpy()
    temp = np.array([np.isnan(data1), np.isnan(data2)],dtype=bool)
    temp2 = temp*1 # convert boolean to int
    temp2 = sum(temp2) # take sum of each participant
    
    missingData = np.where(temp2>0) # find participants with missing data
    data1 = np.delete(data1,missingData) # delete missing data from array
    data2 = np.delete(data2,missingData) # delete missing data from array
    
    return np.transpose(np.array([data1,data2]))

def rowWiseElim2(df1, df2):
    dfCombined = pd.concat([df1, df2], join = 'outer', axis = 1)
    return dfCombined.dropna()

In [307]:
def getMovieDataByTitle(df, title):
    return df[title]

In [71]:
def getMovieDataDf(df):
    return df.iloc[:,[i for i in range(400)]]

In [72]:
getMovieDataDf(df).dropna()

,The Life of David Gale (2003),Wing Commander (1999),Django Unchained (2012),Alien (1979),Indiana Jones and the Last Crusade (1989),Snatch (2000),Rambo: First Blood Part II,Fargo (1996),Let the Right One In (2008),Black Swan (2010),...,X-Men 2 (2003),The Usual Suspects (1995),The Mask (1994),Jaws (1975),Harry Potter and the Chamber of Secrets (2002),Patton (1970),Anaconda (1997),Twister (1996),MacArthur (1977),Look Who's Talking (1989)
430,0.0,0.0,4.0,0.5,0.0,0.0,0.5,0.5,0.0,3.0,...,0.0,0.0,0.0,0.5,0.0,0.0,0.5,0.0,0.0,0.0
999,3.0,3.0,2.5,3.0,2.5,3.0,2.5,2.5,2.5,2.5,...,3.0,3.5,3.5,3.5,3.5,3.0,3.5,3.5,3.5,3.5

In [205]:
def medianSplitGroups(sr, df):
    median = sr.median()
    print(f"median value: {median}")
    group1 = []
    group2 = []

    for i in range(len(sr)):
        if sr[i] < median:
            group1.append(sr.index[i])
        else:
            group2.append(sr.index[i])
            
    group1Df = df.loc[:, group1]
    group2Df = df.loc[:, group2]
            
    # collapse the columns in each group into one column
    return (group1Df.median(axis=1), group2Df.median(axis=1))

In [295]:
totalMovies = len(getMovieDataDf(df).columns)
genderCol = "Gender identity (1 = female; 2 = male; 3 = self-described)"

onlyChildCol = "Are you an only child? (1: Yes; 0: No; -1: Did not respond)"
socialCol = "Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)"

# Problems

## 1
Are movies that are more popular (operationalized as having more ratings) rated higher than movies that
are less popular?

In [206]:
# split movies into more popular/ less popular groups 
movieDf = getMovieDataDf(df)

ratings_count = movieDf.count()

# median split, and 
(lessPopular, morePopular) = medianSplitGroups(ratings_count, movieDf)

median value: 197.5

In [130]:
lessPopular

0       4.00
1        NaN
2       2.50
3       3.00
4       2.50
        ...
1092    3.00
1093    3.50
1094    2.75
1095    3.50
1096    3.50
Length: 1097, dtype: float64

In [209]:
# clean data: row-wise elimination
res2 = rowWiseElim2(lessPopular, morePopular)
lessPopularCleaned = res2.iloc[:,0]
morePopularCleaned = res2.iloc[:,1]

In [210]:
stats.mannwhitneyu(morePopularCleaned, lessPopularCleaned, alternative='greater')

MannwhitneyuResult(statistic=644831.5, pvalue=1.7871975218238738e-19)

In [ ]:
# reject null

## 2
Are movies that are newer rated differently than movies that are older? [Hint: Do a median split of year of
release to contrast movies in terms of whether they are old or new]

In [191]:
# split movies into newer / older groups 
movieTitles = movieDf.columns
years = {}

# get rid of movies with no year of release 
for title in movieTitles: 
    try: 
        year = int(title[title.find("(")+1:title.find(")")])
        years[title] = year
    except:
        print(f"title \'{title}\' did not have year of release")
        
print(len(years))

# make pd series out of dictionary 
yearsRelease = pd.Series(years)

title 'Rambo: First Blood Part II' did not have year of release
399

In [211]:
# split movies
(oldMovies, newMovies) = medianSplitGroups(yearsRelease, movieDf)
print(oldMovies.shape)
print(newMovies.shape)

median value: 1999.0
(1097,)
(1097,)

In [212]:
oldMovies

0       3.50
1       2.75
2       3.25
3       3.00
4       2.00
        ...
1092    3.00
1093    4.00
1094    3.00
1095    4.00
1096    3.00
Length: 1097, dtype: float64

In [213]:
# clean data: row-wise elimination TODO: check element-wise 
oldNewRes = rowWiseElim2(oldMovies, newMovies)
oldCleaned = oldNewRes.iloc[:,0]
newCleaned = oldNewRes.iloc[:,1]

In [214]:
stats.mannwhitneyu(oldCleaned, newCleaned)

MannwhitneyuResult(statistic=603001.0, pvalue=0.7485391589741864)

fail to reject: older and newer not different

## 3
Is enjoyment of ‘Shrek (2001)’ gendered, i.e. do male and female viewers rate it differently?
(element wise??)

In [241]:
shrekTitleCol = "Shrek (2001)"
genderCol = "Gender identity (1 = female; 2 = male; 3 = self-described)"
shrekAndGender = df.loc[:, [shrekTitleCol, genderCol ]]
shrekAndGender

      Shrek (2001)  Gender identity (1 = female; 2 = male; 3 = self-described)
0              3.0                                                1.0
1              3.0                                                1.0
2              3.5                                                1.0
3              0.5                                                1.0
4              3.0                                                1.0
...            ...                                                ...
1092           3.0                                                1.0
1093           4.0                                                1.0
1094           3.5                                                1.0
1095           2.5                                                1.0
1096           2.0                                                1.0

[1097 rows x 2 columns]

In [242]:
# get female and male 
female = shrekAndGender[shrekAndGender[genderCol] == 1.0][shrekTitleCol] # female
male = shrekAndGender[shrekAndGender[genderCol] == 2.0][shrekTitleCol] # male

In [237]:
# element wise elim
female = female.dropna()
male = male.dropna()

In [240]:
stats.mannwhitneyu(female, male)

MannwhitneyuResult(statistic=96830.5, pvalue=0.050536625925559006)

fail to reject: not gendered

## 4
What proportion of movies are rated differently by male and female viewers?

In [279]:
def getMovieForGender(movieAndGender, titleCol, genderInd):
    # 1.0 = female, 2.0 = male
    return movieAndGender[movieAndGender[genderCol] == genderInd][titleCol].dropna()

In [280]:
def isGendered(movieAndGender, titleCol):
    female = getMovieForGender(movieAndGender, titleCol, 1.0) # female
    male = getMovieForGender(movieAndGender, titleCol, 2.0) # male
    
    u, p = stats.mannwhitneyu(female, male)
    return p < 0.005

In [281]:
isGenderedCount = 0
for title in movieTitles:
    movieAndGender = df.loc[:, [title, genderCol]]
    if isGendered(movieAndGender, title):
        isGenderedCount += 1
        
genderedProportion = isGenderedCount / float(totalMovies)

print(f"num of gendered movies: {isGenderedCount}")
print(f"proportion of gendered movies: {genderedProportion}")

num of gendered movies: 50
proportion of gendered movies: 0.125

## 5
Do people who are only children enjoy ‘The Lion King (1994)’ more than people with siblings?

In [267]:
lionKingCol = "The Lion King (1994)"
lkAndChild = df.loc[:, [lionKingCol, onlyChildCol]]
lkAndChild

,The Lion King (1994),Are you an only child? (1: Yes; 0: No; -1: Did not respond)
0,4.0,0
1,NaN,0
2,4.0,1
3,3.0,0
4,4.0,1
...,...,...
1092,3.5,0
1093,3.5,0
1094,NaN,0
1095,NaN,0
1096,4.0,0

In [270]:
lkAndChild[lkAndChild[onlyChildCol] == 1.0]

,The Lion King (1994),Are you an only child? (1: Yes; 0: No; -1: Did not respond)
2,4.0,1
4,4.0,1
5,4.0,1
22,3.5,1
33,3.5,1
...,...,...
1058,3.0,1
1068,3.5,1
1075,4.0,1
1076,3.5,1
1088,3.0,1

In [299]:
# get only child
onlyChild = lkAndChild[lkAndChild[onlyChildCol] == 1.0][lionKingCol]
notOnlyChild = lkAndChild[lkAndChild[onlyChildCol] == 0.0][lionKingCol] # has siblings

In [300]:
onlyChild

2       4.0
4       4.0
5       4.0
22      3.5
33      3.5
       ...
1058    3.0
1068    3.5
1075    4.0
1076    3.5
1088    3.0
Name: The Lion King (1994), Length: 177, dtype: float64

In [301]:
# element wise elim
onlyChild = onlyChild.dropna()
notOnlyChild = notOnlyChild.dropna()

stats.mannwhitneyu(onlyChild, notOnlyChild, alternative="greater")

MannwhitneyuResult(statistic=52929.0, pvalue=0.978419092554931)

fail to reject: not greater

## 6
What proportion of movies exhibit an “only child effect”, i.e. are rated different by viewers with siblings
vs. those without?

In [290]:
def getMovieForGroup(movieDf, titleCol, groupCol, groupInd):
    return movieDf[movieDf[groupCol] == groupInd][titleCol].dropna()

In [291]:
def isDifferent(movieDf, titleCol, groupCol, groupVal1, groupVal2):
    group1 = getMovieForGroup(movieDf, titleCol, groupCol, groupVal1) 
    group2 = getMovieForGroup(movieDf, titleCol, groupCol, groupVal2) 
    
    u, p = stats.mannwhitneyu(group1, group2)
    return p < 0.005

In [294]:
isDifferentForOnlyChildCount = 0
for title in movieTitles:
    movieAndOnlyChild = df.loc[:, [title, onlyChildCol]]
    if isDifferent(movieAndOnlyChild, title, onlyChildCol, 1.0, 0.0):
        isDifferentForOnlyChildCount += 1
        
onlyChildProportion = isDifferentForOnlyChildCount / float(totalMovies)

print(f"num of only child effect movies: {isDifferentForOnlyChildCount}")
print(f"proportion of only child effect movies: {onlyChildProportion}")

num of only child effect movies: 7
proportion of only child effect movies: 0.0175

## 7
Do people who like to watch movies socially enjoy ‘The Wolf of Wall Street (2013)’ more than those who
prefer to watch them alone?

In [297]:
wolfCol = "The Wolf of Wall Street (2013)"
wolfAndSocial = df.loc[:, [wolfCol, socialCol]]
wolfAndSocial

,The Wolf of Wall Street (2013),Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)
0,NaN,1
1,NaN,0
2,NaN,0
3,4.0,1
4,3.0,1
...,...,...
1092,NaN,0
1093,3.5,0
1094,2.0,0
1095,NaN,1
1096,4.0,1

In [302]:
# get social
social = wolfAndSocial[wolfAndSocial[socialCol] == 0.0][wolfCol]
alone = wolfAndSocial[wolfAndSocial[socialCol] == 1.0][wolfCol]

In [303]:
# element wise elim
social = social.dropna()
alone = alone.dropna()

stats.mannwhitneyu(social, alone, alternative="greater")

MannwhitneyuResult(statistic=49303.5, pvalue=0.9436657996253056)

fail to reject

## 8
What proportion of movies exhibit such a “social watching” effect?

In [304]:
isDifferentForSocial = 0
for title in movieTitles:
    movieAndSocial = df.loc[:, [title, socialCol]]
    if isDifferent(movieAndSocial, title, socialCol, 0.0, 1.0):
        isDifferentForSocial += 1
        
socialProportion = isDifferentForSocial / float(totalMovies)

print(f"num of only child effect movies: {isDifferentForSocial}")
print(f"proportion of only child effect movies: {socialProportion}")

num of only child effect movies: 10
proportion of only child effect movies: 0.025

## 9
Is the ratings distribution of ‘Home Alone (1990)’ different than that of ‘Finding Nemo (2003)’?

In [310]:
homeAlone = df['Home Alone (1990)']
nemo = df['Finding Nemo (2003)']

In [313]:
homeAlone = homeAlone.dropna()
nemo = nemo.dropna()

In [316]:
stats.kstest(homeAlone, nemo)

KstestResult(statistic=0.15269080020897632, pvalue=6.379381467525036e-10)

reject the null: is different

## 10
There are ratings on movies from several franchises ([‘Star Wars’, ‘Harry Potter’, ‘The Matrix’, ‘Indiana
Jones’, ‘Jurassic Park’, ‘Pirates of the Caribbean’, ‘Toy Story’, ‘Batman’]) in this dataset. How many of these
are of inconsistent quality, as experienced by viewers? [Hint: You can use the keywords in quotation marks
featured in this question to identify the movies that are part of each franchise]

In [317]:
franchises = ["Star Wars", "Harry Potter", "The Matrix", "Indiana Jones", "Jurassic Park", "Pirates of the Caribbean", "Toy Story", "Batman"]

In [328]:
starWars = df.loc[:,df.columns.str.contains("The Matrix")].dropna()

In [329]:
starWars.shape

(260, 3)

In [340]:
dfArr = []
for col in starWars.columns:
    print(col)
    dfArr.append(starWars[col])
    
dfArr[2]

print(len(dfArr))
stats.kruskal(*dfArr)

The Matrix Revolutions (2003)
The Matrix Reloaded (2003)
The Matrix (1999)
3

KruskalResult(statistic=40.32303905969196, pvalue=1.7537323830838066e-09)

In [346]:
countFranchise = 0
for franchise in franchises: 
    franchiseMovies = df.loc[:,df.columns.str.contains(franchise)].dropna()
    
    movieArr = []
    for movieTitle in franchiseMovies.columns:
        movieArr.append(franchiseMovies[movieTitle])
    
    k, p = stats.kruskal(*movieArr)
    if p < 0.005:
        countFranchise += 1
        #print(franchise)
    
    print(f"{franchise}, {p}")


print(countFranchise) # inconsistent

Star Wars, 6.940162236984522e-40
Harry Potter, 0.11790622831256074
The Matrix, 1.7537323830838066e-09
Indiana Jones, 1.020118354785894e-11
Jurassic Park, 1.8492328391686058e-11
Pirates of the Caribbean, 0.035792727694248905
Toy Story, 7.902234665149812e-06
Batman, 4.1380499020034183e-19
6